extend ../../lib/base/index.jade
include ../../lib/jade-mixins/footer/index.jade

append meta
  +viewport('width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1')

append scripts
  if (process.env.NODE_ENV === 'production')
    script(type='text/javascript' src='/offers/signup.js')
  else
    script(type='text/javascript' src='/signup.js')

append content
  section.hero-banner
    div.logo-wrapper
      h1.logo finbox.io

     a.login-link(href='https://finbox.io/login') Log In
    div.tagline
      h1.main What's your portfolio&nbsp;
        span.bold really
        span &nbsp;worth?

      p.subtitle.
        Try the best toolbox for finding stocks that can improve returns and reduce risk.

      form.signup-form(action='#' method='post')
        input.signup-form--email(type='email' name='email' placeholder='Your email address')
        button(type='submit').
          Show Me The New Way
        br

    div.highlight-box
      div.container
        div.benefits
          div(class='benefit')
            .icon-wrapper
              .bullseye
                .circle.circle1
                .circle.circle2
                .circle.circle3

            h4.title-wrapper
              span Fair Value Estimates

            p.description.
              Access fundamental value estimates that are based on millions of data points. Updated daily.

          div(class='benefit')
            .icon-wrapper
              i.icon.fa.icon-filter

            h4.title-wrapper
              span Stock Screener

            p.description.
              Search through our database by applying filters based on fundamental and technical indicators.

          div(class='benefit')
            .icon-wrapper
              i.icon.fa.icon-superpowers

            h4.title-wrapper
              span Access Data Your Way

            p.description.
              User our spreadsheet integrations and API to power your own analysis.

        hr
        div.tell-me-more
          a(href='https://finbox.io') Tell me more

  +footer()

