.hero-banner {
  color: rgb(121, 134, 159);
  width: 100%;
  margin: 0 auto;
  min-height: calc(690px * (120/150));
  height: 100vh;
  position: relative;
  z-index: 5;
  background: rgba(0, 0, 0, 0) linear-gradient(5deg, rgb(179, 219, 246) 0%, rgb(203, 235, 255) 10%, rgb(243, 249, 253) 44%, rgb(247, 250, 252) 100%) repeat scroll 0% 0% / auto padding-box border-box;

  .login-link {
    padding: 6px 18px;
    color: #79869f;
    border: 1px solid #d9dadb;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: 300;
    z-index: 100;
    font-size: 16px;
    line-height: 24px;
  }

  .logo-wrapper {
    position: relative;
    height: 32.5%;
    width: 100%;
    min-height: 200px;

    .logo {
      background: url("https://res.cloudinary.com/finbox/image/upload/v1491026940/finbox-logo-blue_nzxhf0.png") no-repeat;
      background-size: 200px;
      width: 200px;
      height: 50px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .tagline {
    height: 35%;
    min-height: 240px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;

    .main {
      font-family: $font-alt;
      color: rgb(58, 65, 69);
      cursor: default;
      text-align: center;
      text-decoration: none solid rgb(58, 65, 69);
      column-rule-color: rgb(58, 65, 69);
      border: 0px none rgb(58, 65, 69);
      font-size: 51.2px;
      line-height: 66.56px;
      margin: 0px auto;
      outline: rgb(58, 65, 69) none 0px;
      font-weight: 300;
    }

    .subtitle {
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
      color: #79869f;
    }
  }

  .signup-form {
    width: 600px;
    margin: 35px auto;
  }

  input[type='email'] {
    font-weight: 500;
    font-size: 18px;
    width: 380px;
    height: 50px;
    border: 2px solid #0087e2;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    display: block;
    float: left;
    transition: border-color 0.2s ease;
    margin: 0;
    padding: 0 15px;
  }

  button {
    font-weight: 500;
    cursor: pointer;
    height: 50px;
    width: 220px;
    border-radius: 0 4px 4px 0;
    color: #fff;
    background: #1551c3;;
    border: solid 2px #1551c3;;
    border-left: 0;
    transition: all .2s ease;
    display: block;
    float: left;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
  }
}

.highlight-box {
  overflow: visible;
  position: relative;
  text-align: center;
  z-index: -1;
  height: 32.5%;
  width: 100%;
  min-height: 200px;
  padding-top: 30px;

  .container {
    position: relative;
    margin-top: 60px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    border-radius: 10px;
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    width: 95%;
    max-width: 1120px;
  }

  .benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .benefit {
    max-width: 300px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

    .title-wrapper {
      text-transform: uppercase;
      letter-spacing: 0;
      font-size: 18px;
      font-weight: 500;
      font-family: $font-alt;
      color: #32325d;
      margin-top: 20px;
    }

    p {
      font-size: 15px;
    }

    .icon-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 66px;
      width: 66px;
      border: 3px solid $white;
      background: white;
      border-radius: 50%;
      color: #b778ff;
      font-size: 30px;
      background: white;

      canvas {
        position: absolute;
        left: 0;
        transition: opacity 0.25s ease;
      }
    }
  }

  hr {
    border: none;
    height: 1px;
    background: rgb(243, 249, 253);
  }

  .tell-me-more {
    padding: 10px 20px;

    a {
      color: rgb(104, 175, 223);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.bullseye {
  position: relative;
  height: 30px;
  width: 30px;

  .circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #b778ff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.circle1 {
      height: 100%;
      width: 100%;
    }

    &.circle2 {
      height: 75%;
      width: 75%;
    }

    &.circle3 {
      height: 50%;
      width: 50%;
    }
  }

  &.animate {
    .circle { animation: contract-and-fade 2s ease forwards; }
    .circle1 { animation-delay: 0.5s; }
    .circle2 { animation-delay: 0.75s; }
    .circle3 { animation-delay: 1s; }
  }
}

.footer {
  padding-top: 200px;
  position: relative;
  max-width: 100%;
  overflow-x: auto;
}

.do-a-spin {
  animation: do-a-spin 1s 1 ease;
}

@keyframes do-a-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes contract-and-fade {
  0% {
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    height: 0%;
    width: 0%;
  }
}

@media screen and (max-width: 725px) {
  .hero-banner {
    .signup-form {
      width: 100%;
    }

    input[type='email'] {
      width: 65%;
      float: none;
      border-right: 2px solid #0087e2;
      margin: 0 auto 10px;
      border-radius: 3px;
    }

    button {
      width: 65%;
      float: none;
      margin: 0 auto;
      border-radius: 3px;
    }
  }

  .highlight-box {
    padding-top: 120px;
  }
}

@media screen and (max-width: 785px) {
  .highlight-box {
    .benefits {
      flex-wrap: wrap;
    }

    .benefit {
      max-width: 45%;
    }
  }

  .footer {
    padding-top: 500px;
  }
}

@media screen and (max-width: 550px) {
  .hero-banner {
    .tagline {
      .main {
        font-size: 36px;
        line-height: 1.3;
      }
    }

    .signup-form {
      width: 100%;
    }

    input[type='email'],
    button {
      width: 85%;
    }
  }

  .highlight-box {
    padding-top: 120px;

    .benefit {
      max-width: 100%;
    }
  }

  .footer {
    padding-top: 675px;
  }
}
