.footer {
  background: #F4F9FD;
  padding-bottom: 40px;

  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .title {
      font-weight: 600;
      margin-bottom: 5px;
    }

    .list-wrapper {
      display: flex;

      ul {
        list-style: none;
        padding: 0;
        padding-right: 50px;

        li {
          line-height: 1.6;

          a {
            color: inherit;
            text-decoration: none;

            &:hover {
              color: #3490fa;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .disclaimer {
    margin-top: 20px;
    font-size: 12.5px;
  }
}

@media screen and (max-width: 990px) {
  .footer {
    .columns {
      justify-content: flex-start;
      flex-wrap: wrap;

      .list-wrapper {
        padding-right: 10px;

        ul {
          padding-right: 30px;
        }
      }
    }
  }
}
