@import 'normalize.css';
@import 'font-awesome/style.css';

*,
*::after,
*::before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
  /**
   * Auto hides scroll bars on IE
   */
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  font-family: $font-main;
  transition: opacity 0.25s ease-in;
  opacity: 1 !important;
}

html, body {
  -webkit-tap-highlight-color: transparent;
}
