.learn-more {
  overflow: visible;
  position: relative;
  text-align: center;
  z-index: -1;
  height: 32.5%;
  width: 100%;
  min-height: 200px;

  .background-mask {
    width: 100%;
    height: 200px;
    background: #F2F8FD;
    position: absolute;
    right: 0;
    bottom: -150px;
  }

  .graphic {
    position: relative;
    background-color: transparent;
    z-index: 9;

    &::before {
      content: "";
      width: 100%;
      height: 450px;
      background: url('https://www.crazyegg.com/assets/images/hills.svg') no-repeat;
      background-size: 120%;
      background-position: center center;
      position: absolute;
      top: 0;
      right: 0;
      overflow: visible;
      z-index: -1;
    }
  }

  &--button {
    width: 100%;
    height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none solid rgb(121, 134, 159);
    top: 180px;
    z-index: 999;
    column-rule-color: rgb(121, 134, 159);
    transform: matrix(1, 0, 0, 1, 0, -15);
    border: 0px none rgb(121, 134, 159);
    font-size: 16px;
    line-height: 24px;
    margin: -30px auto 0px;
    outline: rgb(121, 134, 159) none 0px;

    a {
      color: rgb(0, 135, 226);
      cursor: pointer;
      text-align: center;
      text-decoration: none solid rgb(0, 135, 226);
      column-rule-color: rgb(0, 135, 226);
      background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0% / auto padding-box border-box;
      border: 0px none rgb(0, 135, 226);
      border-radius: 3px 3px 3px 3px;
      font-size: 16px;
      line-height: 24px;
      outline: rgb(0, 135, 226) none 0px;
      padding: 5px 12px;
    }
  }
}
