mixin hills ()
  div.learn-more
    div.background-mask
    //- div(class='background-hills' data-0='transform:translateY(0px);' data-400='transform:translateY(60px);')
    div.graphic

    div.learn-more--button
      a(href='https://finbox.io') Tell me more
